
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Piper</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/css/starter-template.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Piper</a>
        </div>
      </div>
    </nav>

    <div class="container">

		<div class="starter-template">
			<table id="table" class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Pipeline</th>
						<th>Started</th>
						<th>Ended</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody>
				  <#list jobs.items as job>
				    <tr>
				       <td>${job.id}</td>
				       <td>${job.name}</td>
				       <td>${job.pipelineId}</td>
				       <td>${job.startTime?datetime("yyyy-MM-dd'T'HH:mm:ss.SSSZZ")}</td>
				       <td>
				         <#if job.endTime??>${job.endTime?datetime("yyyy-MM-dd'T'HH:mm:ss.SSSZZ")}</#if>
				       </td>
				       <td>${job.status}</td>
				    </tr>
				  </#list>
				</tbody>
			</table>

			<ul class="pagination">
			    <#if page &gt; 1>
				    <li>
				        <a href="/?p=1">&lt;&lt;</a>
				    </li>
			    </#if>
			    <#if page &gt; 2>
			      <li>
			        <a href="/?p=${page-2}">&lt;</a>
			      </li>
			    </#if>
			    <#list (page &gt; 1)?then(page-1,page)..(page+5 &gt; jobs.totalPages)?then(jobs.totalPages,page+5) as i>
				  <li <#if page==i>class="active"</#if>>
				     <a href="/?p=${i}">${i}</a>
				  </li>
				</#list>
			    <#if page+5 &lt; jobs.totalPages>
			      <li>
			        <a href="/?p=${page+6}">&gt;</a>
			      </li>
			    </#if>
			    <#if page &lt; jobs.totalPages>
				    <li>
				        <a href="/?p=${jobs.totalPages}">&gt;&gt;</a>
				    </li>
			    </#if>
			</ul>
			
		</div>

	</div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
  </body>
</html>
