
<!DOCTYPE html>
<html lang="en">
  <head>
    <#include "head.html" />
  </head>

  <body>

    <#include "nav.html" />

    <div class="container">

		<div class="internal-container">
			
			
			<table id="table" class="table table-bordered">
				<thead>
					<tr>
						<th>#</th>
						<th>Label</th>
						<th>type</th>
						<th>Start Time</th>
						<th>End Time</th>
						<th>Execution Time</th>
						<th>Status</th>
						<th>Priority</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				  <#list job.execution as execution>
				    <tr <#if execution.status=='COMPLETED'>class="table-success"</#if> <#if execution.status=='FAILED'>class="table-warning"</#if>>
				       <td><#if execution.parentId??>&nbsp;&nbsp;</#if><#if execution.taskNumber??>${execution.taskNumber}</#if></td>
				       <td><#if execution.label??>${execution.label}</#if></td>
				       <td>${execution.type}</td>
				       <td><#if execution.startTime??>${execution.startTime?datetime("yyyy-MM-dd'T'HH:mm:ss.SSSZZ")}</#if></td>
				       <td>
				         <#if execution.endTime??>${execution.endTime?datetime("yyyy-MM-dd'T'HH:mm:ss.SSSZZ")}</#if>
				       </td>
				       <td>
				         <#if execution.executionTime??>${execution.executionTime?c}ms</#if>
				       </td>
				       <td>${execution.status}</td>
				       <td>${execution.priority}</td>
				       <td>
					       <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#input-${execution.id}">
				  			Details
						   </button>
						   
							<!-- Modal -->
							<div class="modal fade" id="input-${execution.id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
							  <div class="modal-dialog" role="document">
							    <div class="modal-content">
							      <div class="modal-header">
							        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							        <h4 class="modal-title" id="myModalLabel"><#if execution.label??>${execution.label}</#if></h4>
							      </div>
							      <div class="modal-body">
							        <pre>${json.writeValueAsString(execution)}</pre>
							      </div>
							      <div class="modal-footer">
							        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							      </div>
							    </div>
							  </div>
							</div>
						   
				       </td>
				    </tr>
				  </#list>
				</tbody>
			</table>
			

			
		</div>

	</div><!-- /.container -->
    
  </body>
</html>
