
<!DOCTYPE html>
<html lang="en">
  <head>
    <#include "head.html" />
  </head>

  <body>

    <#include "nav.html" />

    <div class="container">

		<div class="internal-container">
			<table id="table" class="table table-bordered">
				<thead>
					<tr>
						<th>ID</th>
						<th>Label</th>
						<th>Pipeline</th>
						<th>Started</th>
						<th>Ended</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				  <#list jobs.items as job>
				    <tr <#if job.status=='COMPLETED'>class="table-success"</#if> <#if job.status=='FAILED'>class="table-warning"</#if>>
				       <td>${job.id}</td>
				       <td>${job.label}</td>
				       <td>${job.pipelineId}</td>
				       <td><#if job.startTime??>${job.startTime?datetime("yyyy-MM-dd'T'HH:mm:ss.SSSZZ")}</#if></td>
				       <td>
				         <#if job.endTime??>${job.endTime?datetime("yyyy-MM-dd'T'HH:mm:ss.SSSZZ")}</#if>
				       </td>
				       <td>${job.status}</td>
				       <td>
				         <a class="btn btn-primary btn-sm" href="/jobs/${job.id}">View</a>
				         <#if job.status=='FAILED' || job.status=='STOPPED'>
				           <button class="btn btn-warning btn-sm" onclick="restart('${job.id}')">Restart</button>
				         </#if>
				         <#if job.status=='STARTED'>
				           <button class="btn btn-warning btn-sm" onclick="stop('${job.id}')">Stop</button>
				         </#if>
				       </td>
				    </tr>
				  </#list>
				</tbody>
			</table>
			
			<script>
			  function restart(jobId) {
				  $.get({
				    url: '/jobs/'+jobId+'/restart',
				    success: function() {
				      location.reload();
				    }
			      });
			  }
			  
			  function stop(jobId) {
				  $.get({
				    url: '/jobs/'+jobId+'/stop',
				    success: function() {
				      location.reload();
				    }
			      });
			  }
			</script>
			

			<ul class="pagination">
			    <#if page &gt; 1>
				    <li>
				        <a href="?p=1">&lt;&lt;</a>
				    </li>
			    </#if>
			    <#if page &gt; 2>
			      <li>
			        <a href="?p=${page-2}">&lt;</a>
			      </li>
			    </#if>
			    <#if jobs.totalItems &gt; 0 >
				    <#list (page &gt; 1)?then(page-1,page)..(page+5 &gt; jobs.totalPages)?then(jobs.totalPages,page+5) as i>
					  <li <#if page==i>class="active"</#if>>
					     <a href="?p=${i}">${i}</a>
					  </li>
					</#list>
				</#if>
			    <#if page+5 &lt; jobs.totalPages>
			      <li>
			        <a href="?p=${page+6}">&gt;</a>
			      </li>
			    </#if>
			    <#if page &lt; jobs.totalPages>
				    <li>
				        <a href="?p=${jobs.totalPages}">&gt;&gt;</a>
				    </li>
			    </#if>
			</ul>
			
		</div>

	</div><!-- /.container -->
    
  </body>
</html>
